{% resource "mapviews/main" %}

<div
  data-module = "choroplethmap"
  data-module-resource-id = "{{ resource.id }}"
  data-module-resource-key-field = "{{ resource_view.resource_key_field }}"
  data-module-resource-value-field = "{{ resource_view.resource_value_field }}"
  data-module-resource-label-field = "{{ resource_view.resource_label_field }}"
  data-module-geojson-url = "{{ resource_view.geojson_url }}"
  data-module-geojson-key-field = "{{ resource_view.geojson_key_field }}"
  data-module-redirect-to-url = "{{ resource_view.redirect_to_url }}"
  data-module-filter-fields = "{{ h.dump_json(resource_view.filters) if resource_view.filters else '' }}"
  id = "choroplethmap-{{ resource_view.id }}"
  class = "navigablemap choroplethmap"
  >
</div>
