{% resource 'mapviews/main' %}
{% import 'macros/form.html' as form %}

{% macro filterFields(name, label='', options='', error='', fields={}, classes=[], attrs={}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
  <div class="choropleth-map-fields">
    {% for field in fields %} {{ removableSelect(name, options=options, selected=field, attrs=attrs) }}
    {% endfor %}
    </div>
    <a href="#" class="choropleth-map-addField">{{ _('Add Field') }}</a>
  {% endcall %}
{% endmacro %}

{% macro removableSelect(name, options='', selected='', attrs={}) %}
  <div>
  <select id="{{ name }}" name="{{ name }}" {{ form.attributes(attrs) }}>
    {% for option in options %}
      <option value="{{ option.value }}"{% if option.value == selected %} selected{% endif %}>{{ option.text or option.value }}</option>
    {% endfor %}
  </select>
  <span title="{{ _('Remove Field') }}" class="choropleth-map-removeField icon icon-remove"></span>
  </div>
{% endmacro %}

{% block form %}

{% block form_required_fields %}
{{
    form.select('geojson_url', label=_('GeoJSON Resource'), options=geojson_resources,
        error=errors.geojson_url,
        selected=resource_view['geojson_url'], is_required=true)
}}

{{
    form.input('geojson_key_field', label=_('GeoJSON Key Field'),
        error=errors.geojson_key_field,
        value=resource_view['geojson_key_field'], is_required=true)
}}

{{
    form.select('resource_key_field', label=_('Key'), options=fields,
        selected=resource_view['resource_key_field'], is_required=true)
}}

{{
    form.select('resource_label_field', label=_('Label'), options=textual_fields,
        selected=resource_view['resource_label_field'], is_required=true)
}}

{% endblock %}

{{
    form.input('redirect_to_url', label=_('Redirect to URL'),
        classes=['long'],
        value=resource_view['redirect_to_url'],
        placeholder=_('If left blank, clicking on a region will update the filters on the same page'))
}}

{% endblock %}
