.choroplethmap {
  height: 500px;
  cursor: default;
}

.dashboard-grid .choroplethmap {
  width: 100%;
  height: 100%;
}

.choroplethmap .non-clickable {
  cursor: default;
}

.choroplethmap .info {
  line-height: 18px;
  background-color: white;
  padding: 0.5em;
}

.choroplethmap .legend {
  margin: 0;
  padding: 0;
  list-style: none;
}

.choroplethmap .legend span {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  border: 1px solid #969696;
}
