[IE conditional]

lte IE 8 =
    vendor/excanvas.js

[depends]

main = viewhelpers/main

[groups]

main =
    vendor/leaflet.js
    vendor/leaflet.css
    vendor/leaflet.label.js
    vendor/leaflet.label.css
    vendor/d3.scale.quantize.js
    vendor/backend.ckan.js
    vendor/queryStringToJSON.js
    vendor/basiccharts_filters_form.js
    ckan_map_modules.js

navigablemap =
    navigablemap.js
    navigablemap.css

choroplethmap =
    choroplethmap.js
    choroplethmap.css
