[IE conditional]

lte IE 8 =
    vendor/excanvas.js

[depends]

main = base/main

[groups]

main =
    vendor/leaflet.js
    vendor/leaflet.css
    vendor/leaflet.label.js
    vendor/leaflet.label.css
    vendor/d3.scale.quantize.js
    vendor/backend.ckan.js
    vendor/queryStringToJSON.js
    ckan_map_modules.js

    navigablemap.js
    navigablemap.css

    choroplethmap.js
    choroplethmap.css
