{% import 'macros/form.html' as form %}

{{
    form.input('geojson_url', label=_('GeoJSON URL'),
        classes=['long'],
        error=errors.geojson_url,
        value=resource_view['geojson_url'], is_required=true)
}}

{{
    form.input('geojson_key_field', label=_('GeoJSON Key Field'),
        value=resource_view['geojson_key_field'], is_required=true)
}}

{{
    form.select('resource_key_field', label=_('Key'), options=fields,
        selected=resource_view['resource_key_field'], is_required=true)
}}

{{
    form.select('resource_value_field', label=_('Value'), options=numeric_fields,
        selected=resource_view['resource_value_field'], is_required=true)
}}

{{
    form.select('resource_label_field', label=_('Label'), options=textual_fields,
        selected=resource_view['resource_label_field'], is_required=true)
}}

{{
    form.input('redirect_to_url', label=_('Redirect to URL'),
        classes=['long'],
        value=resource_view['redirect_to_url'],
        placeholder=_('If left blank, clicking on a region will update the filters on the same page'))
}}

